nav{
display: flex;
border-bottom: 2px solid #f3F3f3;
justify-content: space-between;
align-items: center;
padding: 20px;
z-index: 999;
margin-left: 20px;
}
.nav-container{
    position: relative;
    left: 250PX;
}
input{
    padding: 10px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}
.profile-container{
    position: relative;
    right: 250PX;
}
.nav-icons{
    width: 1.5rem;
    height: 1.2rem;
    color: blueviolet;
    margin-left: 1.5rem;
}
